/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    wf-pocp Nextflow params config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// This code is adapted from: https://github.com/bactopia/bactopia

params {
    /*
    ============================================
        Input Options
    ============================================
    */
    input                             = null
    query                             = null
    refdir                            = null
    outdir                            = null

    /*
    ============================================
        POCP workflow {blast, diamond}
    ============================================
    */
    pocp                              = "blast"

    /*
    ============================================
        Default parameters
    ============================================
    */
    // Minimum input filesize required
    min_input_filesize                = "33k"

    // General BLAST/DIAMOND
    min_length                        = 0
    decimal_places                    = 3
    min_bit_score                     = '0.0'
    max_ACGT_fraction                 = '0.9'
    min_percent_identity              = '30'
    min_two_way_alignment_length      = 0
    min_percent_alignment_length      = '70'
    min_two_way_alignment_fraction    = '0.0'

    // Excel spreadsheet name used for parsing
    excel_sheet_name                  =  "Sheet1"

    // Tasks to perform at a time when generating pairs
    tasks_per_job                     =  20000

    /*
    ============================================
        Boilerplate options
    ============================================
    */
    tracedir                          = "${params.outdir}/pipeline_info"
    process_log_dir                   = "${params.tracedir}/process_logs"
    qc_filecheck_log_dir              = "${params.tracedir}/qc_file_checks"

    email                             = null
    hook_url                          = null
    email_on_fail                     = null

    help                              = false
    version                           = false
    validate_params                   = true
    plaintext_email                   = false
    monochrome_logs                   = false
    publish_dir_mode                  = 'copy'
    show_hidden_params                = false
    validationShowHiddenParams        = false
    validationSchemaIgnoreParams      = 'genomes,igenomes_base'

    /*
    ============================================
        Configuration options
    ============================================
    */
    custom_config_version             = 'master'
    custom_config_base                = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description        = null
    config_profile_contact            = null
    config_profile_url                = null
    config_profile_name               = null

    /*
    ============================================
        Max resource options
    ============================================
    */
    // Defaults only, expecting to be overwritten
    max_memory                        = '128.GB'
    max_cpus                          = 16
    max_time                          = '240.h'

    /*
    ============================================
        Nextflow profile parameters
    ============================================
    */
    profile_cache_dir                 = "${baseDir}/assets/.cache"
    schema_ignore_params              = "min_two_way_alignment_length,min_two_way_alignment_fraction,max_ACGT_fraction,tasks_per_job,min_input_filesize,excel_sheet_name,workflows,available_workflows,max_retry,qc_filecheck_log_dir,process_log_dir,run_name,sge_process_time,sge_options,sge_queue_size,sge_queue,sge_penv,profile_cache_dir,validationSchemaIgnoreParams,validationShowHiddenParams,validation-schema-ignore-params,validation-show-hidden-params"
}
