/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    wf-pocp Nextflow workflows config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// This code is adapted from: https://github.com/bactopia/bactopia

params {
    available_workflows {
        pocp = ['blast', 'diamond']
    }
    workflows {
        // Workflows (main POCP workflow)
        'blast' {
            description: 'Perform Percentage of Conserved Proteins (POCP) with BLAST'
            includes    = ['blast']
            is_workflow = true
            modules     = ["convert_samplesheet_python", "infile_handling_unix", "generate_pairs_biopython"]
        }

        'diamond' {
            description: 'Perform Percentage of Conserved Proteins (POCP) with DIAMOND'
            includes    = ['diamond']
            is_workflow = true
            modules     = ["convert_samplesheet_python", "infile_handling_unix", "generate_pairs_biopython"]
        }

        // Subworkflows

        // Modules (contains params.config)
        // local
        'convert_samplesheet_python' {
            path        = "modules/local/convert_samplesheet_python"
        }
        'infile_handling_unix' {
            path        = "modules/local/infile_handling_unix"
        }
        'generate_pairs_biopython' {
            path        = "modules/local/generate_pairs_biopython"
        }
        'genbank2fasta_biopython' {
            path        = "modules/local/genbank2fasta_biopython"
        }

        // nf-core/modules
    }
}
